@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #2d3436;
}

a{
    text-decoration: none;
    color: inherit;

}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    color: #2195f3a6;
    text-transform: uppercase;
    font-size: 2.5rem;
    padding: 10px 30px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    transition-duration: 400ms;
    transition-delay: 400ms;
    transition-property: color, box-shadow;
    transition-timing-function: ease-in-out;
    outline: none;
    border: none;
}

.btn:hover{
    color: #2196f3;
    box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 80px #2196f3;

}

span{
    position: absolute;
    background-color: #2196f3;
}

.btn span:nth-child(1){
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 2px;
    transition: 200ms transform ease-in-out;
    transition-delay: 200ms;
    transform-origin: top;
    transform: scaleY(0);
    box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 80px #2196f3;


}

.btn:hover span:nth-child(1){
    transform: scaleY(1);
    transform-origin: bottom;

}


.btn span:nth-child(2){
    left: 0px;
    bottom: 0px;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: 200ms transform ease-in-out;
    transition-delay: 200ms;
    box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 80px #2196f3;


}

.btn:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
}

.btn span:nth-child(3){
    left: 0px;
    top: 0px;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: 200ms transform ease-in-out;
    transition-delay: 400ms;
    box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 80px #2196f3;

}

.btn:hover span:nth-child(3){
    transform: scaleX(1);
    transform-origin: left;
}

.btn span:nth-child(4){
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 2px;
    transition: 200ms transform ease-in-out;
    transition-delay: 400ms;
    transform-origin: top;
    transform: scaleY(0);
    box-shadow: 0px 0px 10px #2196f3, 0px 0px 40px #2196f3, 0px 0px 80px #2196f3;

}

.btn:hover span:nth-child(4){
    transform: scaleY(1);
    transform-origin: bottom;

}