@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: #2d3436;
}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: inherit;
    text-decoration: none;
    
}

.btn{
    color: white;
    outline: none;
    font-size: 2rem;
    padding: 5px 35px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    font-family: 'Poppins', sans-serif;

    /* height: 75px;
    width: 300px; */
}

.btn::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0%;
    background: url(./btn-bg1.png);
    background-size: 11rem 100%;
    background-repeat: no-repeat;
    z-index: -1;
    transition: 200ms width ease-in-out;
}

.btn:hover::before{
    width: 100%;
}

